body {
  font-family: "Inter", serif;
  transition: all 0.4s;
  padding-bottom: 50px;
  box-sizing: border-box; }

main {
  padding: 24px;
  box-sizing: border-box;
  position: relative; }
  main header {
    width: 100%;
    height: 300px;
    background-color: #F7F9FF;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    transition: all 0.4s;
    border-radius: 0px 0px 50px 50px; }
    main header hgroup {
      width: 100%;
      padding: 24px;
      box-sizing: border-box; }
      main header hgroup h2 {
        text-align: left;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 3px;
        color: #1D1F29; }
      main header hgroup p {
        font-size: 14px;
        font-weight: 700;
        color: #63687D; }
    main header .hgroup--underline {
      width: calc(100% - 48px);
      margin: auto;
      margin-bottom: 16px;
      border-bottom: 1px solid #848BAB; }
    main header .switch-mode {
      padding: 0px 24px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.4s; }
      main header .switch-mode span {
        font-size: 14px;
        font-weight: 700;
        color: #63687D; }
      main header .switch-mode .switch-div {
        width: 48px;
        height: 24px;
        background-color: #AEB3CB;
        border-radius: 30px;
        position: relative;
        cursor: pointer; }
        main header .switch-mode .switch-div .circle {
          width: 17px;
          height: 17px;
          background-color: white;
          border-radius: 50%;
          position: absolute;
          transition: all 0.4s;
          top: 50%;
          transform: translateY(-50%);
          left: 55%; }
  main .general-overview--container {
    width: 100%;
    margin-top: 150px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px; }
    main .general-overview--container .general-overview--div {
      width: 100%;
      background-color: #F1F3FA;
      text-align: center;
      padding: 24px 0px;
      box-sizing: border-box;
      border-radius: 5px;
      transition: all 0.4s; }
      main .general-overview--container .general-overview--div .soc-media--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px; }
        main .general-overview--container .general-overview--div .soc-media--logo span {
          font-size: 12px;
          font-weight: 600;
          color: #63687D; }
      main .general-overview--container .general-overview--div strong {
        display: block;
        margin-top: 28px;
        margin-bottom: 13px;
        font-size: 56px;
        font-weight: 800;
        color: #1D1F29;
        transition: all 0.4s; }
      main .general-overview--container .general-overview--div .foll--sub {
        display: block;
        margin-bottom: 28px;
        font-size: 16px;
        font-weight: 500;
        color: #63687D;
        letter-spacing: 3px; }
      main .general-overview--container .general-overview--div .foll-sub--numb {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 12px;
        font-weight: 600; }
    main .general-overview--container .facebook-gen {
      border-top: 3px solid #178FF5; }
    main .general-overview--container .twitter-gen {
      border-top: 3px solid #1DA1F2; }
    main .general-overview--container .instagram-gen {
      border-top: 3px solid #EE877E; }
    main .general-overview--container .youtube-gen {
      border-top: 3px solid red; }

.overview-today {
  padding: 0px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 24px; }
  .overview-today h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: #63687D; }
  .overview-today .overview-today--div {
    width: 100%;
    background-color: #F1F3FA;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box; }
    .overview-today .overview-today--div div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px; }
    .overview-today .overview-today--div .title--number span {
      font-size: 14px;
      font-weight: 600;
      color: #63687D; }
    .overview-today .overview-today--div .title--number strong {
      font-size: 32px;
      font-weight: 700;
      color: #1D1F29; }
    .overview-today .overview-today--div .logo-percentage {
      align-items: end; }
      .overview-today .overview-today--div .logo-percentage img {
        width: 25px;
        height: 25px; }
      .overview-today .overview-today--div .logo-percentage .percentage {
        font-size: 13px;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 5px; }
        .overview-today .overview-today--div .logo-percentage .percentage img {
          width: 8px;
          height: 6px; }

.body--dark-mode {
  background-color: black; }

.header--dark-mode {
  background-color: #040404; }

.text--white {
  color: #fff !important; }

.circle-dark-mode {
  left: 10% !important; }

.switch-div--dark {
  background-color: green !important; }

.general-overview--div--dark {
  background-color: #252B42 !important; }

@media (min-width: 768px) {
  main header {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 50px;
    box-sizing: border-box; }
    main header hgroup {
      padding: 0px; }
    main header .hgroup--underline {
      display: none; }
    main header .switch-mode {
      width: 100%;
      padding: 0px;
      justify-content: end;
      gap: 20px; }
      main header .switch-mode .switch-div {
        min-width: 48px; }
  .general-overview--container {
    padding: 50px;
    box-sizing: border-box;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px; }
  .overview-today {
    padding: 50px;
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px; }
    .overview-today h2 {
      position: absolute;
      left: 50px; } }

@media (min-width: 1100px) {
  main header {
    padding: 50px 11%; }
  .general-overview--container {
    width: 100%;
    padding: 50px 11%;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: row !important; }
  .overview-today {
    padding: 50px 11%;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .overview-today h2 {
      left: 11%; } }
